doctype html
html(lang='en')
  head
    // Meta
    title
      | Yuvraj Jhala
    meta(charset='UTF-8')
    meta(name='author', content='Yuvraj Jhala')
    meta(name='keywords', content='PHP, Yii, Yii2, WordPress, OpenCart, Web Services, Web Development, HTML, CSS, jQuery, JavaScript')
    meta(name='description', content='An Awesome Web Developer with a passion for Coding. I love my work and enjoy each new project as I get it. Feel free to have a look at my Website.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Stylesheets
    link(href='https://fonts.googleapis.com/css?family=Inconsolata', rel='stylesheet', type='text/css')
    link(href='/plugins/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='/plugins/changethewords/animate.changethewords.css', rel='stylesheet', type='text/css')
    link(href='/plugins/components-font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
  body
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-47388802-1', 'auto');
      ga('send', 'pageview');
    .wrapper
      section.hero
        .row
          .label.col-md-12
            img#yuvraj(src='images/black.jpg')
            // <span id="yuvraj"></span>
        .heading.row
          .container
            .col-md-12.text-center
              a.logo(href='http://imyuvii.com') Yuvraj Jhala
        .container
          section.row.main-con
            //
              <div class="label">
              <span id="yuvraj"></span>
              </div>
            .text-center.content-heading
              p
                | I’m a full time web development consultant for the brilliant team at
                a(target='_blank', href='https://www.linkedin.com/company/xovak-studio')
                  strong  Xovac Studio
                | .
                |                         During my free time, I work on multiple side projects where I use a combination of my design and
                |                         development skills. All of these are due to be launched by the end of 2016.
              // <p><a href="http://dribbble.com/imyuvii" target="_blank">View Work &raquo;</a></p>
            #w.skills-effect.text-center
              span(data-id='1') PHP
              span(data-id='4') Node JS
              span(data-id='2') HTML
              span(data-id='3') Yii
              span(data-id='11') CSS
              span(data-id='5') WordPress
              span(data-id='6') JavaScript
              span(data-id='7') OpenCart
              span(data-id='8') jQuery
              span(data-id='9') Laravel
              span(data-id='10') MySQL
              span(data-id='12') Embedded JS
      .container
        // Background
        section.row
          .label
            span.num One.
            span.name Background
          .content
            p
              | My interest in web development stemmed from my passion for gaming. Between developing websites and playing video games,
              | I admittedly spend most of my time in front of a screen.
              | Some of my passions are writing clean code, creating best user experiences and filling up a fresh cup of tea.
            p
              | I live in
              big India
              | . I love to
              big travel
              | , and I love
              big PHP
              | !.
            p
              | I love my work and enjoy each new project as I get it.
              | Feel free to have a look at my portfolio and don't hesitate to contact me if you think I can be of service to you.
            //
              <p>From a young age, I had an interest in all aspects of design. In fact, for most of my childhood I
              wanted to be an architect as well as an interior designer. Then, at the age of 15, I discovered the
              world of web design & development. Everything changed.</p>
              <p>Now, almost 8 years later, I work full time for the awesome team at Impact Media. They kindly took me
              under their wing just over a year ago and I plan to stay there for the foreseeable future.</p>
        // Skills
        section.row
          .label
            span.num Two.
            span.name Skills
          .content
            p.tags
              span PHP
              span NodeJS
              span Yii
              span WordPress
              span HTML
              span CSS
              span JavaScript
              span jQuery
              span EmbeddedJS
              br
              span MySQL
              span Laravel
              span OpenCart
        // Skills
        // Recent Work
        section.row
          .label
            span.num Three.
            span.name Recent Work
          .content.work
            ul.list-unstyled
              li
                i.fa.fa-external-link
                a(href='http://exploride.com', target='_blank') exploride.com
                span
                  i.fa.fa-html5
              li
                i.fa.fa-external-link
                a(href='http://travelplus.be', target='_blank') travelplus.be
                span
                  i.fa.fa-wordpress
                  i.fa.fa-html5
              li
                i.fa.fa-external-link
                a(href='http://rivian.com', target='_blank') rivian.com
                span
                  i.fa.fa-wordpress
                  i.fa.fa-html5
              li
                i.fa.fa-external-link
                a(href='http://cheapmooly.com', target='_blank') cheapmooly.com
                span
                  i.fa.fa-opencart
                  i.fa.fa-html5
              li
                i.fa.fa-external-link
                a(href='http://www.arkadium.com', target='_blank') arkadium.com
                span
                  i.fa.fa-wordpress
                  i.fa.fa-html5
              li
                i.fa.fa-external-link
                a(href='http://www.djwarehouse.com.au', target='_blank') djwarehouse.com.au
                span
                  i.fa.fa-shopping-cart
                  i.fa.fa-html5
        // Contact
        section.row
          .label
            span.num Four.
            span.name Contact
          .content
            i.fa.fa-envelope-o
            a(href='mailto:png625@gmail.com')  png625@gmail.com
            br
            i.fa.fa-skype
            a(href='skype:png625?chat')   png625
            br
            i.fa.fa-phone
            |  091 9998388980
      footer
        .container.text-center
          p.social
            span
              a(target='_blank', href='http://in.linkedin.com/in/imyuvii')
                i.fa.fa-linkedin-square.fa-2x
            span
              a(target='_blank', href='http://twitter.com/imyuvii')
                i.fa.fa-twitter-square.fa-2x
            span
              a(target='_blank', href='https://github.com/imyuvii')
                i.fa.fa-github-square.fa-2x
          p © Yuvraj Jhala 2016.
    script(type='text/javascript', src='/plugins/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/plugins/changethewords/jquery.changethewords.js')
    script(type='text/javascript').
      $(function() {
        $("#w").changeWords({
          time: 1500,
          animate: "fadeIn",
          selector: "span"
        });
      });
